.photos {
  margin-top: 3em;

  .photo {
    background-color: #f2f2f2;
    border-radius: .5em;
    display: flex;
    margin: 1em 0;

    img {
      border-radius: .5em;
    }

    p {
      padding: 1em;
      font-size: 1.5em;
    }
  }
}

@media screen and (max-width: 575px) {
  .photos {
    .photo {
      img {
        height: 100%;
      }

      p {
        font-size: 1.1em;
      }
    }
  }
}
