
.slider {
  overflow: hidden;
  cursor: grab;
  margin: 2em 0;

  .slides {
    display: flex;

    .slide {
      margin: 2em;
      min-width: 30rem;
      min-height: 30rem;
      
      .img {
        border-radius: .5em;
        width: 100%;
        height: 100%;
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .slider {
    margin: 0 1em 1em; 
  }
}